.success{
    background-color: chartreuse;
}
button{
    margin: 0 10px;
    cursor: pointer;
}
.card{
    width: 400px;
    margin: 20px auto;
    text-align: center;
}
.message{
    display: flex;
    justify-content: center;
}